$color-primary-0: #344491; // Main Primary color */
$color-primary-1: #7683BF;
$color-primary-2: #4D5CA3;
$color-primary-3: #20307A;
$color-primary-4: #0F1D60;
$color-complement-0: #D5A739; // Main Complement color */
$color-complement-1: #FFDE8F;
$color-complement-2: #EFC55F;
$color-complement-3: #B2861C;
$color-complement-4: #8D6505;